<div class="none col-xs-12 bg_1" id="header">
    <div class="col-md-2 col-sm-3 col-xs-5 f4 padding_md"><span  class="text_3"> Angular Seed</span></div>
    <div class="col-md-2 col-sm-4 col-xs-7 pull-right">
         <div class="col-xs-12 pull-right f10 text-right none">
         	
			<div class="col-xs-12 dropdown">
			    <div class="col-xs-12 limit text_3">{{loginservice.getUser() ? loginservice.getUser().firstName : "" }}</div>
			    <div class="dropdown-content" *ngIf="loginservice.getUser()">
			        <a>ChangePassword</a>
			        <a (click)="logout()">Logout</a>
			    </div>
			</div>
         </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-7 pull-right">
         <div class="col-xs-12 pull-right f10 text-right none" *ngIf="loginservice.getUser()">
			<div class="col-xs-12 dropdown">
			    <div class="col-xs-12 limit text_3">Notifcation({{messages.length}})</div>
			    <div class="dropdown-content" style="z-index: 2;">
			        <a *ngFor="let msg of messages">{{msg.title}}<br>
			        </a>
			    </div>
			</div>
         </div>
    </div>
</div>