<div class="col-xs-12 container margin_top">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a routerLink="/register" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" (submit)="submitLogin()" #myForm="ngForm" novalidate>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" [(ngModel)]="user.email" placeholder="email" value="" (ngModelChange)="changeUsername(email)" required #email="ngModel">
                                    <div *ngIf="email.errors && email.touched">
                                        <small style="color:red;" [hidden]="!email.errors.required">email is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" placeholder="Password" (ngModelChange)="changeUsername(email)" required>
                                    <div *ngIf="password.errors && password.touched">
                                        <small style="color:red" [hidden]="!password.errors.required">Password is required</small>
                                      <!--   <small style="color:red" [hidden]="!password.errors.minlength">Password should be more than 6 character</small> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                      <div class="col-sm-6" *ngIf="errorMessage.length > 0">
                                       <small style="color:red"> {{errorMessage}}</small>
                                       </div>
                                        <div class="col-sm-6 col-sm-offset-3">
                                     

                                            <input name="login-submit" type="submit" [disabled]="!myForm.valid" id="login-submit" tabindex="4" class="form-control btn btn-login">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
