    <div class="col-xs-12 container margin_top">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" *ngIf="!registeration">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a routerLink="/login" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="active" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" (submit)="register()" #myForm="ngForm" novalidate>
                                <div class="form-group">
                                    <input type="text" name="firstName" id="firstName" class="form-control" #firstName="ngModel" [(ngModel)]="signup.firstName" placeholder="First Name" value="" required>
                                    <div *ngIf="firstName.errors && firstName.touched">
                                        <span style="color:red;font-size:15px;" [hidden]="!firstName.errors.required">First Name is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lastName" id="lastName" class="form-control" #lastName="ngModel" [(ngModel)]="signup.lastName" placeholder="Last Name" value="" required>
                                    <div *ngIf="lastName.errors && lastName.touched">
                                        <span style="color:red;font-size:15px;" [hidden]="!lastName.errors.required">Last Name is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" #email="ngModel" [(ngModel)]="signup.email" placeholder="Email Address" value="" required>
                                    <div *ngIf="email.errors && email.touched">
                                        <span style="color:red;font-size:15px;" [hidden]="!email.errors.required">Email is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" #password="ngModel" [(ngModel)]="signup.password" placeholder="Password" required (ngModelChange)="checkPasswordLength(signup.password)">
                                    <div *ngIf="password.errors && password.touched">
                                        <span style="color:red;font-size:15px;" [hidden]="!password.errors.required">Password is required</span>
                                    </div>
                                    <div *ngIf="!passwordStrength && password.touched && !password.errors">
                                        <span style="color:red;font-size:15px;">Password should contain atleast minimum 8 letter,1 Capital Letter, 1 digit, 1 lower case Letter and 1 symbol..</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="signup.confirmPassword" class="form-control" placeholder="Confirm Password" required>
                                    <div *ngIf="confirmPassword.errors && confirmPassword.touched">
                                        <span style="color:red;font-size:15px;" [hidden]="!confirmPassword.errors.required">Confirm Password is required</span>
                                    </div>
                                    <div *ngIf="confirmPassword.touched && (signup.password != signup.confirmPassword) && !confirmPassword.errors">
                                        <span style="color:red;font-size:15px;">Password and Confirm password not mathced</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6" *ngIf="errorMessage.length > 0">
                                            <small style="color:red"> {{errorMessage}}</small>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input name="register-submit" type="submit" [disabled]="(!myForm.valid || !passwordStrength || (signup.password != signup.confirmPassword))" id="register-submit" tabindex="4" value="Register Now" class="form-control btn btn-register">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" *ngIf="registeration">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <b>Hi <span style="font-size:28px;">{{sucessname}}</span> your account Sucessfully Created. Click for <a routerLink="/login" id="login-form-link">Login</a></b>
                </div>
            </div>
        </div>
    </div>
</div>
